.status-container {
  height: 70%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.status-wrapper{
padding-top: 22px;
}

.status-title-wrapper{
  height: 30%;
}

.status-icon-inline {
  height: 40px;
  display: inline-block;
}

.status-icon {
  height: 40px;
  display: block;
  margin: auto;
  padding-top: 12px;
}

.status-text {
  text-align: center;
  font-size: 25px;
  margin: 0;
}

.status-text-blank {
  display: inline-block;
  font-size: 70px;
  margin: 0;
}

.status-text-ok {
  display: inline-block;
  font-size: 70px;
  padding-right: 20px;
  margin: 0;
}

/*Health Section Styling*/
.health-container {
  height: 60%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.health-wrapper {
}

.health-title-wrapper{
  height: 40%;
}

.health-icon {
  width: 30px;
  display: inline-block;
  padding-right: 5px;
}

.health-text {
  display: inline-block;
  font-size: 25px;
  /*padding-right: 20px;*/
  padding-top:20px;
  margin: 0;

}

.water-icon {
  height: 20px;
  display: inline-block;
  padding-right: 5px;
}
